
/*(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-color: black;
}

                  

/* Header styles (all the styles inside the < header > or < nav > tags)*/

                        
                       
/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}
.textcontainer {
    position: absolute;
    left: 650px;
    height: ;
    width: 600px;
    padding-top: 75px;
}

p {
    display: block;
    color: black;
    font-family: 'SF-Cartoonist-Hand', 'sans-serif';
    width: 50%;
    font-size: 24px;
    line-height: 45px;
}
.ryu {
    float: left;
    width: 659px;
    height: 494px;
}
.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
    width: 659px;
    height: 494px;
}
.ryu-ready, .ryu-throwing,
.ryu-still, .ryu-cool {
    display: none;
}
.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
 
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    background-repeat: no-repeat;
}
.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    top: 162px;
    left: 560px;
}









